.section-first {
    margin-top: 150px;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-around;
    }

    img {
        max-width: 100%;
        border-radius: 56px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    &__div {
        background-color: #f5f3f4;
        border-radius: 56px;
        text-align: center;
        position: relative;
    }

    &__p-shrimp {
        font-family: "shrimp";
        color: var(--color-red);
        text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.7);
        font-size: 1.3rem;
    }

    &__p-price {
        font-weight: bold;
        font-size: 1.4rem;
    }

    &__red-div {
        position: absolute;
        text-align: center;
        background-color: var(--color-red);
        border-top-right-radius: 56px;
        border-top-left-radius: 56px;
        width: 100%;
        color: wheat;
        z-index: -1;
        top: -80px;

        img {
        margin-top: 9px;
        }

        p{
            position: relative;
            font-family: "shrimp";
            font-size: 25px;
            top: -20px;
        }
    }

    &__popular-p {
        margin-bottom: 60px;
    }

    &__div-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
    }

    &__button {
        border-radius: 80px;
        font-family: "shrimp";
        font-size: 15px;
        padding: 20px;
        width: 260px;
        border: none;
        background-color: var(--color-yellow-light);
        box-shadow: 1px 4px 1px #2c0805; //horizontal, vertical, dispersion #color//
        color: var(--color-red-dark);
        margin-bottom: 50px;
    }
}
