.section-first {

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-around;
    }

    img {
        max-width: 100%;
        border-radius: 56px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    &__div {
        background-color: #f5f3f4;
        border-radius: 56px;
        text-align: center;
        position: relative;
    }

    &__p-shrimp {
        font-family: "shrimp";
        color: var(--color-red);
        text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.7);
        font-size: 1.5rem;
        margin: 0;
    }

    &__p-price {
        font-weight: bold;
        font-size: 1.4rem;
    }

    &__red-div {
        position: absolute;
        text-align: center;
        background-color: var(--color-red);
        border-top-right-radius: 56px;
        border-top-left-radius: 56px;
        width: 100%;
        color: wheat;
        z-index: -1;
        top: -80px;

        img {
            margin-top: 9px;
        }

        p {
            position: relative;
            font-family: "shrimp";
            font-size: 25px;
            top: -20px;
        }
    }

    &__popular-p {
        margin-bottom: 60px;
    }

    &__div-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
    }

    &__button {
        border-radius: 80px;
        font-family: "shrimp";
        font-size: 18px;
        padding: 20px 40px;
        border: none;
        background-color: var(--color-yellow-light);
        box-shadow: 2px 4px 1px #2c0805; //horizontal, vertical, dispersion #color//
        color: var(--color-red-dark);
        margin-bottom: 50px;
    }

    hr {
        border: none;
        border-top: 1px solid #d1c1c1;
        width: 50%;
        margin: 20px auto;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    display: none !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    .section-first__div {
        margin-top: 80px;
    }
}

.swiper-pagination {
    margin-top: 20px ;
    position: relative;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: var(--color-red-dark);
}
.swiper-pagination-bullet-active {
    background-color: var(--color-red);
}

@media (min-width: 667px) and (max-width: 970px) {
    .section-first__red-div {
        .section-first__popular-p {
            font-size: 20px;
        }

        img {
            margin-top: 15px;
            width: 100px;
        }
    }
}

@media (min-width: 0px) and (max-width: 665px) {
    .swiper {
        display: block !important;
    }

    .section-first__container {
        display: none;
    }

    .section-first {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .section-first__red-div {
        img {
            width: 120px;
            margin: auto;
            padding-top: 10px;
        }
    }

    .section-first__p-price{
        padding-bottom: 15px;
    }

}

@media (min-width: 665px) {
    .container-mobile-swiper {
        width: 100%;
        max-width: 1124px;
        margin: 0 auto;
    }
    .section-first{
        margin-top: 120px !important;
    }
}
