.section-first {
    max-width: 1300px;
    margin: 160px 70px 70px;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-around;
    }

    img {
        max-width: 100%;
        // width: 300px;
        // height: 200px;
        // object-fit: cover;
        border-radius: 56px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    &__div {
        background-color: #f5f3f4;
        border-radius: 56px;
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    &__p-shrimp {
        font-family: "shrimp";
        color: var(--color-red);
        text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.7);
        font-size: 1.3rem;
    }

    &__p-price {
        font-weight: bold;
        font-size: 1.4rem;
    }

    &__red-div {
        text-align: center;
        background-color: var(--color-red);
        padding: 8px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        position: absolute;
        top: 850px;
        left: 455px;
        width: 340px;
        color: wheat;
    }

    &__div-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    &__button {
        border-radius: 80px;
        font-weight: 800;
        padding: 10px;
        width: 260px;
        background-color: var(--color-yellow-light);
        border: 1px solid black;
        box-shadow: 1px 4px 1px #2c0805; //horizontal, vertical, dispersion #color//
    }
}
