.section {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../../public/fuegomain.jpg);
    background-size: cover;
    overflow: hidden;
    

    .section__max {
        display: flex;
        width: 100%;
    }

    .section__div {
        z-index: 99;
    }

    p {
        font-weight: bold;
        background-color: var(--color-yellow-light);
        padding: 10px;
        margin: 0;
        width: fit-content;
        color: var(--color-red-dark);
        font-family: "shrimp";
    }

    .section__pneu {
        font-size: 32px;
    }

    .section__pmax {
        font-size: 96px;
        z-index: 1;
    }

    .section__pmax1 {
        font-size: 96px;
        position: relative;
    }

    .section__img-container {
        position: absolute;
        left: 40%;
        margin-right: 30px;
    }

    .section__img {
        width: 700px;
        height: auto;
        border-radius: 50px;
    }

    .pmin {
        width: 400px;
        font-weight: bolder;
        background-color: transparent;
        color: var(--color-yellow-light);
        padding-left: 0;
        font-family: "hanken";
        margin-top: 32px;
        margin-bottom: 32px;
    }

    button {
        border-radius: 80px;
        padding: 15px 40px;
        background-color: var(--color-yellow-light);
        border: none;
        box-shadow: 1px 4px 1px #2c0805;
        font-family: "shrimp";
        color: var(--color-red-dark);
        font-size: 20px;
    }

    .section__pmax,
    .section__pmax1 {
        margin-top: 8px;
    }
}
