.section {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(../../public/fuegomain.jpg);
    background-size: cover;
    overflow: hidden;

    .section__div {
        margin-left: 40px;
        z-index: 99;
    }

    p {
        font-weight: bold;
        background-color: var(--color-yellow-light);
        padding: 10px;
        margin: 0;
        width: fit-content;
        color: var(--color-red-dark);
    }

    &__pneu {
        font-size: 32px;
    }

    &__pmax {
        font-size: 96px;
        z-index: 1;
    }

    &__pmax1 {
        font-size: 96px;
        position: relative;
    }

    &__img-container {
        position: absolute;
        left: 40%;
        margin-right: 30px;
    }

    &__img {
        width: 700px;
        height: auto;
        border-radius: 50px;
    }

    .pmin {
        width: 400px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 500;
        background-color: transparent;
        color: beige;
        padding-left: 0;
    }

    button {
        border-radius: 80px;
        font-weight: 800;
        padding: 15px 40px;
        background-color: var(--color-yellow-light);
        border: 1px solid black;
    }

    .section__pmax,
    .section__pmax1 {
        margin-top: 8px;
    }
}
