.section {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    overflow: hidden;

    .section__max {
        display: flex;
        width: 100%;
    }

    .section__div {
        z-index: 30;
    }

    p {
        font-weight: bold;
        background-color: var(--color-yellow-light);
        padding: 10px;
        margin: 0;
        width: fit-content;
        color: var(--color-red-dark);
        font-family: "shrimp";
    }

    .section__pneu {
        font-size: 32px;
    }

    .section__pmax {
        font-size: 96px;
        z-index: 1;
    }

    .section__pmax1 {
        font-size: 96px;
        position: relative;
    }

    .section__img-container {
        position: absolute;
        left: 42.9%;
        margin-right: 30px;
    }

    .section__img {
        width: 700px;
        height: auto;
        border-radius: 50px;
    }

    .pmin {
        width: 400px;
        font-weight: bolder;
        background-color: transparent;
        color: var(--color-yellow-light);
        padding-left: 0;
        font-family: "hanken";
        margin-top: 32px;
        margin-bottom: 32px;
    }

    button {
        border-radius: 80px;
        padding: 15px 40px;
        background-color: var(--color-yellow-light);
        border: none;
        box-shadow: 1px 4px 1px #2c0805;
        font-family: "shrimp";
        color: var(--color-red-dark);
        font-size: 20px;
    }

    .section__pmax,
    .section__pmax1 {
        margin-top: 8px;
    }

    .video-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -99;
    }

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #000000, #ff0000);
        mix-blend-mode: multiply;
    }
}

@media (min-width: 0px) and (max-width: 666px) {
    .section {
        padding-top: 0%;
        padding-bottom: 240px;
    }

    .section__pneu {
        font-size: 20px !important;
        margin-top: 20px !important;
    }

    .section__pmax {
        font-size: 52px !important ;
    }

    .section__pmax1 {
        font-size: 52px !important ;
    }

    .pmin {
        display: none !important;
    }

    button {
        display: none !important;
    }

    .section__img-container {
        top: 40% !important;
        left: 20% !important;
        margin: 0 !important;
    }

    .section__img {
        width: 350px !important;
        height: auto;
        border-radius: 50px;
    }

    .video-container {
        height: 100vh !important;
    }
}

@media (min-width: 667px) {
    .mobile-home-container {
        max-width: 100%;
    }
}

@media (min-width: 870px) {
    .mobile-home-container {
        width: 100%;
        max-width: 1124px;
        margin: 0 auto;
    }
}

.section button:hover{
    background-color: var(--color-yellow-dark);
}