.sect {
    background-color: var(--color-yellow-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sect__ul {
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
    font-family: "shrimp";
    font-size: 1.1rem;
    color: var(--color-red-dark);
}

@media (min-width : 0px) and (max-width : 665px) {
    .sect {
        text-align: center;
    }

    .sect__ul {
        display: block;
        margin: auto;
        padding: 0;
        text-align: center;
    }

    .sect__ul li {
        margin: 20px 0;
        display: block;
    }
}
