:root {
    --color-red: #cc3b34;
    --color-red-dark: #2c0805;
    --color-gray-light: #d5d1cc;
    --color-yellow-light: #f5e1b5;
    --color-yellow-dark: #d5c39e;

}

@font-face {
    font-family: shrimp;
    src: url(./assets/fonts/SHRIMP.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: hanken;
    src: url(./assets/fonts/HANKEN.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: hanken;
    src: url(./assets/fonts/BOLDHANKEN.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------HTML---------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-gray-light);
    font-family: "hanken", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--color-yellow-dark);
    transform: scale(0.9);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

/* -----------------------------CONTAINERS------------------------------------- */

.container {
    width: calc(100% - 80px);
    margin: 0 40px;

    @media (min-width: 1124px) {
        width: 100%;
        max-width: 1124px;
        margin: 0 auto;
    }
}


.page-container {
    min-width: 20%;
    max-width: 1700px;
}

/* ---------------------------MEDIA QUERYS----------------------------------- */


@media (min-width: 0px) and (max-width: 1124px) {
    .swiper-container {
        max-width: 380px;
    }
}
