.section-page-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 20px;
    justify-self: center;

    img {
        width: 273px;
        border-radius: 56px;
        object-fit: cover;
        display: flex;
    }

    &__div-img {
        display: flex;
    }

    @media (max-width: 1124px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 600px) {
        img {
            width: 180px;
        }

        hr {
            display: none;
        }

        ul {
            font-size: 0.9rem;
            padding: 0px 14px 0px 0px;
            text-align: center;
        }

        .page-products-container__div-title {
            padding: 0;
        }

        .page-products-container__p-shrimp {
            font-size: 1.5rem;
            text-align: center;
            padding: 3px 14px 0px 0px;
        }

        .page-products-container__p-price{
            font-size: 1.2rem;
            padding: 0px 0px 0px 14px;
            margin: 0;
        }
    }
}

//contenedor hijo

.page-products-container {
    display: flex;
    width: 100%;
    background-color: #f5f3f4;
    border-radius: 56px;
    margin-top: 20px;
    justify-self: center;

    &__p-shrimp {
        font-family: "shrimp";
        color: var(--color-red);
        text-shadow: 3px 1px 0px rgba(0, 0, 0, 0.7);
        font-size: 1.6rem;
        margin: 0;
    }

    &__p-price {
        font-weight: bold;
        font-size: 1.6rem;
    }

    &__div-title {
        padding: 41px 0px 0px 38px;
    }

    hr {
        border: none;
        border-top: 1px solid #d1c1c1;
        width: 70%;
        margin: 15px 0px;
    }
}

.title-barriles {
    font-size: 2.3rem;
    font-family: "shrimp";
    margin-top: 94px;
}
